body {
    background-image: url("images/concrete-texture.png")
}
.img-flui {
    float: left;
}
#aldo_huayhua_headline {
    text-align: center;
    background-color:#4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}
#navigator {
    margin: 0px;
}
#about-me-title { 
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 20px;
}
#jumbotron-body {
    width: 940px;
    margin-top: 25px;
    padding-top: 25px;
}

#body-article {
    overflow: auto;
}
#aldo-img{
    float: left;
}
#body-parragraph {
    float: left;
}