/* nav bar styling */
#aldo_huayhua_headline {
    background-color:#4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#header-name {
    margin-bottom: 15px;
    margin-top: 15px;
}
#nav-options {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* body stylings */
body {
    background-image: url("images/concrete-texture.png")
}
#jumbotron-body {
    width: 940px;
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 100%;
}
#portfolio-body { 
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#img-1 {
    margin-bottom: 20px;
}
#text-img-1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#img-2 {
    margin-bottom: 20px;
}
#text-img-2 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}
#img-3 {
    margin-bottom: 20px;
}
#text-img-3 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}
#img-4 {
    margin-bottom: 20px;
}
#text-img-4 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}
#img-5 {
    margin-bottom: 20px;
}
#text-img-5 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}
/* footer atylings */
div.sticky {
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    background-color: #777777;
    text-align: center;
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
    border-width: 5px;
    border-color: #4aaaa5;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
