/* nav bar styling */
#aldo_huayhua_headline {
    background-color:#4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#header-name {
    margin-bottom: 15px;
    margin-top: 15px;
}
#nav-options {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* body stylings */
body {
    background-image: url("images/concrete-texture.png")
}
.img-fluid {
    float: left;
}
#about-me-title { 
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 20px;
}
#jumbotron-body {
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 100%; 
}
#body-article {
    overflow: auto;
}
#aldo-img{
    margin-top: 20px;
} 
#body-parragraph { 
    margin-top: 20px;
}
/* footer atylings */
div.sticky {
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0%;
    background-color: #777777;
    text-align: center;
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
    border-width: 5px;
    border-color: #4aaaa5;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

